# Ignore large video files
*.MOV
*.mov
*.MP4
*.mp4
assets/img/portfolio/new3/Mix sport- fashion/*.MOV
assets/img/portfolio/new3/Mix sport- fashion/*.MP4
assets/img/portfolio/new3/F&B/videos/*.MOV
assets/img/portfolio/new3/F&B/videos/*.MP4

# System files
.DS_Store
Thumbs.db 